.main-nav {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}
.main-nav__list {
  display: flex;
}
.site-list__link {
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }
  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }
}
.site-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 35px;
  }
}
.site-list__item:last-child {
  margin-right: 0;
}
