.more {
  text-align: center;
  padding: 0 20px;
}
.more__button  {
  width: 100%;
}
.more__description {
  text-transform: uppercase;
  color: $blacktitle;
  margin: 0 0 23px;
  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
.more__text {
  color: $lightblack;
  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 20px;
  }
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
.more__img {
  @media (max-width: $mobile-width) {
    margin-bottom: 23px;
  }
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}
.more__button {
  background: $lightgrey;
  color: $lightblack;
}
