.page-footer__map {
  height: 362px;
  background: url('../img/map.jpg');
}
.page-footer__bottom {
  background: $lightgrey;
  @media (max-width: $mobile-width) {
    padding-top: 40px;
  }
  @media (min-width: $tablet-width) {
    padding: 55px 0 61px;
  }
}
.page-footer__logo {
  display: block;
  @media (max-width: $mobile-width) {
    text-align: center;
    padding-bottom: 32px;
  }
}
@media (min-width: $tablet-width) {
  .page-footer__bottom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
