@media (max-width: $mobile-width) {
  .page-main__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 37px;
  }
}
@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }
}
