.page-footer__map {
  height: 362px;
  background: url('../img/map.jpg');
}
.page-footer__bottom {
  background: $lightgrey;
  padding-top: 40px;
  padding-bottom: 22px;
}
.page-footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 32px;
}
